Source: android-platform-external-conscrypt
Section: java
Priority: optional
Maintainer: Android Tools Maintainers <android-tools-devel@lists.alioth.debian.org>
Uploaders: Kai-Chung Yan <seamlikok@gmail.com>
Build-Depends: android-platform-libcore-source-6.0.1,
               debhelper (>= 9),
               default-jdk,
               default-jdk-doc,
               gradle-debian-helper,
               javahelper,
               libandroid-dex-java,
               libicu4j-java (>= 56.1),
               libjarjar-java,
               libkxml2-java,
               libxpp3-java,
               maven-repo-helper
Standards-Version: 3.9.8
Homepage: https://conscrypt.org
Vcs-Git: https://anonscm.debian.org/git/android-tools/android-platform-external-conscrypt.git
Vcs-Browser: https://anonscm.debian.org/cgit/android-tools/android-platform-external-conscrypt.git

Package: libconscrypt-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Built-Using: android-platform-libcore-source-6.0.1
Description: Java Security Provider that uses OpenSSL
 conscrypt is hosted along with The Android Open Source Project and has no
 release tags, hence it is maintained by Android Tools Maintainers and follows
 the same versioning scheme as other Android packages.

Package: libconscrypt-java-doc
Architecture: all
Section: doc
Depends: default-jdk-doc, ${misc:Depends}
Description: Java Security Provider that uses OpenSSL - Documentation
 conscrypt is hosted along with The Android Open Source Project and has no
 release tags, hence it is maintained by Android Tools Maintainers and follows
 the same versioning scheme as other Android packages.
 .
 This package provides Javadoc for libconscrypt-java.