#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

UPSTREAM_TAG = android-$(subst +,_,$(DEB_VERSION_UPSTREAM))

%:
	dh $@ --buildsystem=gradle --with maven-repo-helper,javahelper

override_dh_auto_build:
	$(CC) src/gen/native/generate_constants.cc \
	      -o generate_constants \
	      -I/usr/include/boringssl \
	      $(CXXFLAGS) $(CPPFLAGS) $(LDFLAGS)
	./generate_constants > src/main/java/org/conscrypt/NativeConstants.java
	dh_auto_build -- --settings-file debian/settings.gradle assemble javadoc poms
	java -jar /usr/share/java/jarjar.jar \
	     process jarjar-rules.txt debian/build/libs/conscrypt-0.jar \
	     debian/build/libs/conscrypt-jarjared-0.jar

override_dh_auto_clean:
	dh_auto_clean
	$(RM) -r debian/.gradle
	$(RM) generate_constants src/main/java/org/conscrypt/NativeConstants.java

get-orig-source: $(UPSTREAM_TAG).tar.gz
	mk-origtargz --repack --compression xz $<

$(UPSTREAM_TAG).tar.gz:
	wget https://android.googlesource.com/platform/external/conscrypt/+archive/$(UPSTREAM_TAG).tar.gz